# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Python
exp.py
.pytest_cache/
__pycache__
*.pyc
*.pyo

# VSCODE
.vscode/

# Testing
e2e-device.js
config.json
auth.json

# publish
iotc.egg-info
python/build
python/dist

*.pem
certgen.config.json

.DS_Store
c_cpp/examples/esp8266_arduino/src/
c_cpp/examples/mkr1000/src/
c_cpp/examples/mbed/src/
c_cpp/examples/mbed/iotz-mbed-deps/
c_cpp/examples/mbed/mbed_config.h
c_cpp/examples/mbed/mbed_settings.py
c_cpp/examples/mbed/Makefile
c_cpp/examples/mbed/GettingStarted.html
c_cpp/examples/mbed/.mbedignore
c_cpp/examples/mbed/.mbed
c_cpp/examples/mbed/BUILD
c_cpp/examples/mbed/mbed-os/